.userTable {
    color: #adadad;
}

.svgPlus {
    fill: #ffffff;
}
.svg2 {
    fill: #ffffff;
}

th:last-child {
    text-align: right;
}

td:last-child {
    text-align: right;
    padding-right: 25px;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}

h1 {
    background-color: #0ef5d5;
}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
    padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

body {
    background-color: #F8F9FB;
}

caption {
    text-align: right;
    padding-right: 25px;
}

.arrow {
    margin-left: 15px;
}

.arrow button {
    background: none;
    border: none;
}

button {
    border: none;
    background: none;
}

.profil {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(58,171,2,1) 0%, rgba(39,190,93,1) 100%);
}